.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.register__form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.logo__img {
    width: 18em;
    height: auto;
    margin: auto;
}

.name__container,
.business__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.input__label {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.name__check,
.b__check {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #a7a7a7;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    margin: 10px;
}

.input__check {
    width: 98%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #a7a7a7;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    margin: 10px;
}

.input__check:focus,
.name__check:focus,
.b__check:focus {
    border-bottom: 2px solid #551E19;
}

.forget__text{
    color: #551E19;
    text-decoration: none;
    font-weight: bold;
    transition: .6s ease;
}

.forget__text:hover{
    color: #4f1813;
}

.submit__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #551E19;
    font-weight: bold;
    transition: .6s ease;
    text-transform: uppercase;
    color: #fff;

}

.margin__fixed {
    margin: 10px 30px;
    width: 89%;
}

.btn__icon {
    font-weight: 800;
    margin-right: 10px;
    font-size: 18px;
}

.submit__btn:hover {
    background-color: #4f1813;
    color: #fff;
}

.spam__text__container {
    color: #551E19;
    margin: 10px 0px;
}

.spam__text {
    text-decoration: none;
    color: #551E19;
    font-weight: bold;
    transition: .6s ease;
}

.spam__text:hover {
    color: #4f1813;
}

@media screen and (max-width:768px){
    .register__form{
        width: 95%;
        padding: 20px;
    }

    .logo__img{
        width: 10em;
        height: auto;
    }
    .name__container, .business__container{
        flex-direction: column;
    }

    .input__check{
        width: 100%;
    }

    .submit__btn{
        width: 100%;
        font-size: 12px;
        height: 30px;
        margin: 10px 0px;
    }

    .spam__text__container{
        margin: 5px 0px;
    }

}