.manageCards__container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../public//images/link__image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 3rem;
}